<h1 class="header1">Infos</h1>
<h3 class="header1">Hier alle Infos zu unserem Campingplatz</h3>

<p>Unser Campingplatz umfasst ein Areal von 20 km^2 mit 800 Campingplatz</p>
<p>Hunde sind auch herzlich wilkommen!!!</p>

<img class="pic2" src="~/Content/images/infos.jpg">

